IndexIgnore *

Options +FollowSymLinks
RewriteEngine on

#YOUTUBE
RewriteRule ^integrations/youtube/manifest.json$ youtube/manifest.php [NC]
RewriteRule ^integrations/youtube/admin_ui$ youtube/admin_ui_oauth.php [NC]
RewriteRule ^integrations/youtube/oauth youtube/oauth.php [NC]
RewriteRule ^integrations/youtube/pull$ youtube/pull.php [NC]
RewriteRule ^integrations/youtube/channelback$ youtube/channelback.php [NC]
RewriteRule ^integrations/youtube/clickthrough youtube/clickthrough.php [NC]
RewriteRule ^integrations/youtube/dashboard youtube/dashboard.php [NC]
RewriteRule ^integrations/youtube/btn_google_signin_light_pressed_web.png youtube/btn_google_signin_light_pressed_web.png [NC]
RewriteRule ^integrations/youtube/callback youtube/callback.php [NC]

#STACKEXCHANGE
RewriteRule ^integrations/stackexchange/manifest.json$ stackexchange/manifest.php [NC]
RewriteRule ^integrations/stackexchange/admin_ui$ stackexchange/admin_ui_oauth.php [NC]
RewriteRule ^integrations/stackexchange/oauth stackexchange/oauth.php [NC]
RewriteRule ^integrations/stackexchange/pull$ stackexchange/pull.php [NC]
RewriteRule ^integrations/stackexchange/channelback$ stackexchange/channelback.php [NC]
RewriteRule ^integrations/stackexchange/clickthrough stackexchange/clickthrough.php [NC]
RewriteRule ^integrations/stackexchange/dashboard stackexchange/dashboard.php [NC]
RewriteRule ^integrations/stackexchange/callback stackexchange/callback.php [NC]
RewriteRule ^integrations/stackexchange/proxy$ stackexchange/proxy.php [NC]
RewriteRule ^integrations/stackexchange/se-logo.png stackexchange/se-logo.png [NC]

#DOCKERHUB
RewriteRule ^integrations/dockerhub/manifest.json$ dockerhub/manifest.php [NC]
RewriteRule ^integrations/dockerhub/admin_ui$ dockerhub/admin_ui_oauth.php [NC]
RewriteRule ^integrations/dockerhub/pull$ dockerhub/pull.php [NC]
RewriteRule ^integrations/dockerhub/clickthrough dockerhub/clickthrough.php [NC]
RewriteRule ^integrations/dockerhub/dashboard dockerhub/dashboard.php [NC]
RewriteRule ^integrations/dockerhub/callback dockerhub/callback.php [NC]
